siga-circuito-das-aguas-100719-2.pdf
'''#SIGA – CIRCUITO DAS ÁGUAS:
CARACTERIZAÇÃO GEOAMBIENTAL, GEOLÓGICA,
GEOFÍSICA, HIDROGEOLÓGICA E HIDROGEOQUÍMICA
DO CIRCUITO DAS ÁGUAS DE MINAS GERAIS, COM
ÊNFASE NOS PARQUES HIDROMINERAIS DE CAXAMBU,
CAMBUQUIRA, MARIMBEIRO, CONTENDAS E LAMBARI		siga-circuito-das-aguas-100719-2		250 MB!
https://homologacao.codemge.com.br/wp-content/uploads/2025/01/siga-circuito-das-aguas-100719-2.pdf'''

n.txt